DAYTRADER_DB2_IMAGE=icr.io/db2_community/db2:11.5.9.0
DAYTRADER_DB2_CONTAINER_NAME=daytrader8-db2
DAYTRADER_DB2_HOST=127.0.0.1
DAYTRADER_DB2_PORT=50000
DAYTRADER_DB2_NAME=tradedb
DAYTRADER_DB2_USER=db2inst1
DAYTRADER_DB2_PASSWORD=
DAYTRADER_DB2_DATABASE_DIR=target/db2/database
DAYTRADER_APP_PORT=19095
